h3{
    color: blue;
    background-color: aqua;
    font-size: 50px;
}
 .t_upper {
            text-transform: uppercase;
        }

        .t_lower {
            text-transform: lowercase;
        }

        .t_capitalize {
            text-transform: capitalize;
        }
        .t_center {
            text-align: center;
        }
        .t_d_under {
            text-decoration: underline;
        }
        .t_d_over{
            text-decoration: overline;
        }
        .t_d_line {
            text-decoration: line-through;
        }
        .t_decor {
            text-decoration: underline overline line-through;
        }
        .t_indent {
            text-indent: 163px;
        }
        .t_lineheight {
            line-height: 60px;
        }
        .l_space {
            letter-spacing: 40px;
        }
        .w_space {
            word-spacing: 20px;
        }
        .t_shadow1 {
            color: blue;
            font-size: 50px;
            text-align: center;
            text-shadow: 12px 20px 8px #3b6bae;
        }
        .t_shadow2 {
            color: red;
            font-size: 50px;
            text-align: center;
            text-shadow: 50px 18px 6px #effb0c;
        }
        .b_shadow{
            box-shadow: 4px 4px 10px red;
            width: 250px;
        }
        .d_shadow{
            filter: drop-shadow(4px 4px 5px red);
            width: 250px;


        }
        .t_size{
            font-size: 50px;
        }
        .t_bg{
            background-color: #1dc623;
        }
        #t_color{
            color: #13b6a6;
        }
        #t_size{
            font-size: 400px;
        }
        .t_shadow{
            text-shadow: 4px 4px 5px blue;
        }
        .t_color{
            color: #f00;
        }
        .f_family1{
            font-family: Arial, Helvetica, sans-serif;
        }
        .f_family2{
            font-family:cursive; 
            font-style: italic;
        }
        .f_family3{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-style: normal;
        }
        .f_family4{
            font-family: fantasy;
            font-weight: bold;
        }
        .f_family5{
            font-family: monospace;
            font-weight: 100;
        }
        .f_family6{
            font-family: 'Times New Roman', Times, serif;
            font-style: initial;

        }
        img{
            width: 300;
        }
        .border_img1{
            border:4px solid red;
            border-radius: 10px;
        }
         .border_img2{
            border:4px double blue;
            border-top-left-radius: 20px;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            border-top-left-radius: 20px;
        }
         .border_img3{
            border:6px dashed black;
            border-radius: 20px 150px 90px 20px
        }
         .border_img4{
            border:10px solid rgb(255, 0, 132);
            border-color: aqua brown green red;
        }

        .box_model1{
            border: 4px solid red;
            padding: 40px;
            margin: 100px;
        }
        .border_img1{
            border: 8px double blue;
            padding: 20px;
            margin: 20px;
        }
      .box_model2{
        border: 5px solid green;
        padding: 50px 30px 50px 30px;
        margin: 20px 40px 20px 40px;
      }
      .linear{
        height: 400px;
        background: linear-gradient(orange,white,green);
      }
      .heading1{
        font-size: 100px;
        text-align: center;
        padding-top: 150px;
        color: blue;
      }

       .box_model1{
            border: 4px solid red;
            padding: 40px;
            margin: 100px;
        }
        .border_img1{
            border: 8px double blue;
            padding: 20px;
            margin: 20px;
        }
      .box_model2{
        border: 5px solid green;
        padding: 50px 30px 50px 30px;
        margin: 20px 40px 20px 40px;
      }
      .box_model3{
        border: 8px double purple;
        padding: 30px;
        margin: 50px;
      }
      .linear {
            height: 400px;
            background: linear-gradient(orange, white, green);
        }
        .linear{
            height: 200px;
            background: linear-gradient(pink orange aqua);
        }

        .heading1 {
            font-size: 100px;
            text-align: center;
            padding-top: 150px;
            color: blue;
        }

        .text1 {
            font-size: 400px;
            text-align: center;
            padding-right: 20;
            color: aqua;
        }

        .radial {
            height: 600px;
            background: radial-gradient(circle, blue red green);
        }
        .conic{
            height: 600px;
            background:conic-gradient(from 90deg,purple aqua white);
        }



          
        
